
**/node_modules
/infra/.env
/apps/api-core/.env
**/__pycache__
**/*.pyc
/apps/ai-service/.pytest_cache
/apps/ai-service/.venv
/apps/ai-service/venv

/apps/ai-service/.env
/apps/api-core/dist
**/.next
/.venv