POSTGRES_DB=vultra
POSTGRES_MIGRATION_USER=vultra_migrations
# letras, números, - e _
POSTGRES_MIGRATION_PASSWORD=
POSTGRES_SERVICE_USER=vultra_service
# letras, números, - e _
POSTGRES_SERVICE_PASSWORD=

# compose.dev.yaml
POSTGRES_PORT=5432
REDIS_PORT=6379

# compose.yaml
API_PORT=8000
# true/false
API_DOCS_ENABLED=true
