# postgresql+psycopg://POSTGRES_SERVICE_USER:POSTGRES_SERVICE_PASSWORD@127.0.0.1:POSTGRES_PORT/POSTGRES_DB
DATABASE_URL=
# postgresql+psycopg://POSTGRES_MIGRATION_USER:POSTGRES_MIGRATION_PASSWORD@127.0.0.1:POSTGRES_PORT/POSTGRES_DB
MIGRATION_DATABASE_URL=
# redis://127.0.0.1:REDIS_PORT/0
REDIS_URL=
# true/false
API_DOCS_ENABLED=true
